<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>show to buy</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<table border="1px">
		<tr>
			<td>id</td>
			<td>name</td>
			<td>category</td>
			<td>price</td>
		</tr>
		<tr th:each="pro : ${products}">
			<td th:text=${pro.name}></td>
			<td th:text=${pro.quantity}></td>
			<td th:text="${pro.price}"></td>
		</tr>
	</table>
	<br></br>
	<form method ="post"  action="#" th:action="@{/view-products}" th:object="${input}">
	
			id:<input type = "text" th:field="*{in}">
			<br>
 <input type ="submit" value = "submit">

   </form>
</body>
</html>